<p id="notice"><%= notice %></p>

<p>
  <strong>Rollno:</strong>
  <%= @student.rollno %>
</p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
